<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <form ng-submit="authenticate()">
        <md-input-container>
            <label>Login</label>
            <input ng-model="user.login" required>
        </md-input-container>

        <md-input-container>
            <label>Password</label>
            <input ng-model="user.password" type="password" required>
        </md-input-container>

        <md-button class="md-raised md-primary" type="submit">Log in</md-button>
    </form>
</md-content>
